.countryContainer{
    display: flex;
    width: 90%;
    padding: auto;
    
}

.visitedCountryList, .countryList {
    text-align: center;
    width: 70%;
    align-items: center;
    padding-left: 130px;
}


